@model Log
@{ }

<article>
    <h1>
    @if (User.IsInRole("Administrator"))
    {
        <a href="/edit/@Model.EncodedTitle">@Model.Title</a>
    }
    else
    {
        @Model.Title
    }
    </h1>
    <h2>@Model.CreatedDate.Encode()</h2>
    <div class="article-preview"> @MarkdownService.ParseHtml(Model.Body)</div>
    @if(Model.ModifiedDate != DateTime.MinValue)
    {
        <h4>Edited @Model.ModifiedDate.Encode()</h4>
    }
</article>